@font-face {
  font-family: "Stardew";
  src: url("./assets/StardewValley.ttf") format("truetype");
}
body {
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main-container-home {
  width: 80vw;
  aspect-ratio: 1920 / 1080;
  background-image: url("./assets/main_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
}
.profile-icon {
  position: absolute;
  left: 07%;
  top: 20%;
}
.profile-icon img {
  width: 15vw;
  height: auto;
}
.icons {
  background-color: transparent;
}
.icons img {
  width: 4vw;
  height: auto;
  background-color: transparent;
}
.gpa {
  font-family: "Stardew";
  color: black;
  font-size: clamp(3vw, 7vw, 8vw);
  background-color: transparent;
  position: absolute;
  left: 2%;
  top: 66%;
  max-width: 50%;
  max-height: 50%;
  padding: 0.1vw 0.1vw;
}

.gpa on:hover {
  color: lightblue;
  background-color: lightblue;
}
.name {
  font-family: "Stardew";
  color: black;
  font-size: clamp(1vw, 3vw, 8vw);
  position: absolute;
  left: 5%;
  top: 48%;
}
.main-img img {
  width: 85rem;
  height: 100%;
}
.projects {
  display: flex;
  position: absolute;
  height: auto;
  left: 35%;
  top: 20%;
  gap: 10%;
}
